    <section class="page-section" id="services">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Services</h2>
                <h3 class="section-subheading text-muted">Our goal is to help others reach their greatest potential and break down the barriers standing in the way. We offer both individual treatment, all depending on your unique needs, which creates a more effective therapeutic environment that promotes improved communication, relationships, and support.

                Treatment often follows a two-step approach that: (1) allows you and/or your child to supportively and collaboratively identify the thoughts, emotions, beliefs, and values that trigger or maintain challenges; and (2) guides you toward more adaptive coping strategies that strengthen individual and family support.</h3>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <img class="rounded-circle img-static" src="<%= image_path('individual.jpeg') %>" alt="..." />
                    </span>
                    <h4 class="my-3">Cognitive Behavioral Therapy (CBT)</h4>
                    <p class="text-muted">Cognitive behavioral therapy (CBT) is a psycho-social intervention that aims to reduce symptoms of various mental health conditions, primarily depression and anxiety disorders. Cognitive behavioral therapy is one of the most effective means of treatment for substance abuse and co-occurring mental health disorders. CBT focuses on challenging and changing cognitive distortions (such as thoughts, beliefs, and attitudes) and their associated behaviors to improve emotional regulation and develop personal coping strategies that target solving current problems. </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <img class="rounded-circle img-static" src="<%= image_path('group.jpeg') %>" alt="..." />
                    </span>
                    <h4 class="my-3">EMDR</h4>
                    <p class="text-muted">Eye movement desensitization and reprocessing (EMDR) is a form of psychotherapy that is controversial within the psychological community. It was devised by Francine Shapiro in 1987 and originally designed to alleviate the distress associated with traumatic memories such as post-traumatic stress disorder (PTSD).

                    EMDR involves focusing on traumatic memories in a manner similar to exposure therapy while engaging in side-to-side eye movements or other forms of bilateral stimulation.It is also used for some other psychological conditions.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <img class="rounded-circle img-static" src="<%= image_path('family.jpeg') %>" alt="..." />
                    </span>
                    <h4 class="my-3">Psilocybin Therapy</h4>
                    <p class="text-muted">Psilocybin is an active ingredient in some species of mushrooms, often referred to as ‘magic mushrooms’. We’ve developed an investigational, synthesised formulation of psilocybin, called COMP360, and are researching its effectiveness for certain serious mental health disorders, including treatment-resistant depression, post-traumatic stress disorder, and anorexia nervosa.</p>
                </div>
            </div>
        </div>
    </section>