<div id="<%= dom_id review %>">
  <p>
    <strong>Author:</strong>
    <%= review.author %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= review.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= review.body %>
  </p>

</div>
